.statusbar {
  position: fixed;
  width: 296px;
  height: 620.4px;
  left: 0px;
  top: 0px;

  background: #0F0F0F;
}

.logo {
  position: absolute;
  width: 162px;
  height: 53px;
  left: 20%;
  top: 20px;
  cursor: pointer;
}